.add-post-form {
    background-color: #f1f6fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .add-post-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #0e0c3d;
  }
  
  .add-post-form input,
  .add-post-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .add-post-form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .add-post-form button {
    background-color: #3188e5; 
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .add-post-form button:hover {
    background-color: #1767bd; 
  }
