.post-card {
  width: 300px;
  background-color: #e9f3fb; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s; 
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.post-card h3 {
  font-size: 1.2rem; 
  font-weight: bold;
  color: #333; 
  text-align: center; 
  margin: 10px;
  border-bottom: 2px solid #ddd; 
  padding-bottom: 10px; 
  box-sizing: border-box;
  height: 40px; 
  line-height: 20px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.post-card p {
  font-size: 1rem; 
  color: #555; 
  line-height: 1.5;
  text-align: justify; 
  height: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: normal; 
  margin-top: 5px;
  margin-bottom: 10px;
}

.post-card-buttons {
  display: flex;
  justify-content: space-between; 
  margin-top: auto; 
}

.edit-button, .delete-button {
  background-color: #b3c5ec; 
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  flex: 1; 
  margin: 0 5px; 
}

.edit-button:hover, .delete-button:hover {
  background-color: #366dc6;
}